.card-img, .card-img-bottom, .card-img-top {
    width: 50%;
}

.plano {
    margin: 30px;
}

header .logo {
    background-color:#944db8 ;
    text-align: center;
    margin: -10px;
}


header .menu {
    background-color: #944db8;
    display: flex;
    justify-content: center;
}

header .menu ul {
    margin: 0;
    list-style: none;
}

header .menu ul li {
    display: inline-block;
    padding: 10px 10px;
}

header .menu ul li a {
    text-decoration: none;
    color: #FDFDFD;

}

.centrar-formulario {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh; /* Define a altura do contêiner para ocupar a altura total da viewport */
  }
  
  .formulario {
    width: 400px; /* Define a largura do formulário conforme necessário */
  }

  .imagem-direita {
    float: right;

}